<p>Cadastro Usuário</p>

<form [formGroup]="basicForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
        <input type="text" placeholder="Nome" formControlName="name">
    </div>
    <div>
        <input type="email" placeholder="Email" formControlName="email">
    </div>
    <div>
        <input type="number" placeholder="Salário" formControlName="amount">
    </div>
    <div>
        <input type="text" placeholder="Perfil" formControlName="profile" 
        value="User" readonly="true">
    </div>
    <div>
        <select style="height: 40px;" placeholder="Sexo" formControlName="sex">
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
        </select>
    </div>
    <div>
        <input type="password" placeholder="Senha" formControlName="password">
    </div>
    <button type="submit">Salvar</button>
</form>